body {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.header {
  background-color: thistle;
  height: 100vh;
  width: 20vw;
}
.section {
  background-color: azure;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.principal-tittle {
  background-color: bisque;
  margin-left: 5px;
  height: 10%;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 5px;
}
.content-ico {
  display: flex;
  justify-content: center;
}

.ico-perfil {
  background-color: azure;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: black solid 1px;
  align-content: center;
  text-align: center;
  margin-top: 5px;
}
.icono-img{
  width: 100%;
  height: 100%;
  border-radius: 100%;

}

.text-header {
  display: flex;
  flex-direction: column;
}
.text-header > h2 {
  margin-left: 5px;
}

.content {
  background-color: beige;
  width: 100%;
  height: 25%;
  margin-left: 5px;
  margin-bottom: 5px;
}
.content > .child {
  text-align: start;
  
  padding-left: 10px;
}
.content > .child {
  padding-top: 1px;

}